<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lrdsnow.orbus.applauncher">

    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.applauncher"
            android:value="org.godotengine.godot.plugin.applauncher.AppLauncher" />
    </application>
</manifest>
